.wrong-url {
    background-color: #eee;
    padding: 1% 1% 3% 1%;
}

.wrong-url .animation-container {
    position: relative;
}

.wrong-url .animation {
    position: absolute;
    animation-duration: 2s;
    animation: mymove 12s infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.wrong-url .cloud1 {
    bottom: 50%;
    animation-timing-function: linear;
    animation-delay: -2s;
}

.wrong-url .cloud2 {
    bottom: 20%;
    animation-timing-function: ease-in-out;
}

.wrong-url .cloud3 {
    bottom: 30%;
    animation-timing-function: ease-in;
    animation-delay: -6s;
}

@keyframes mymove {
    from {
        left: -50%;
    }

    to {
        left: 130%;
    }
}