$white: #fff;
$grey: #e9e9e9;
$darkGrey: #7C7E93;
$main: #2e95a0;
$light: #00acb1;
$dark: #005963;
$purplish: #fcf7ff;
$fontSmall: 'Rubik', sans-serif;
$fontLarge: 'Heebo', sans-serif;

// Footer

.footer {
  margin-top: auto !important;
}

.footer-mid-section {
  padding-bottom: 40px;
}

.footer-logo {
  padding-bottom: 15px;
}

.footer-icons {
  margin-right: 10px !important;
  color: $main;
}

.footer-icons:hover {
  cursor: pointer;
  background-color: $main;
  color: $white;
  transition: background 1s ease;
}

.footer-horizontal-line {
  background-color: $grey;
  width: 100%;
  height: 1.5px;
  margin-top: 10px;
}

.footer-text-heading {
  font-family: $fontLarge !important;
  font-size: 15pt;
  font-weight: bold;
  color: $dark;
}

.footer-text {
  font-size: 10pt;
  font-family: $fontSmall;
  color: $main;
  line-height: 2;
  font-weight: bold;
}

.footer-btn {
  width: 100%;
  font-weight: lighter !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.footer-btn:hover {
  background-color: $white !important;
}

.footer-input {
  width: 100%;
}

.footer-address-section {
  background-color: $white;
  border-radius: 15px;
  box-shadow: 0 0 20px $grey;
  padding: 10px 0px 10px 0px !important;
  margin-left: 10px;
  margin-right: 10px;
  top: -40px;
  position: relative !important;
}

.footer-address-section .columns {
  padding: 10px 0px 10px 0px !important;
}

.footer-address-section .icons {
  padding-right: 0px !important;
}

.footer-address-section .address-icons {
  margin: 0 !important;
}

.footer-address-section .vertical-line {
  border-right: 2px solid $grey;
}

.footer-address-section .heading {
  color: $darkGrey;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 0px !important;
}

.footer-address-section .value {
  margin-top: 0px !important;
  font-family: $fontLarge;
  color: $dark;
  font-weight: bold;
}

//Responsive Tablet

@media screen and (max-width: 992px) {
  .footer-tab {
    text-align: center !important;
  }
  
  .footer-logo {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-input, .footer-btn {
    width: 75%;
    margin-right: auto !important;
  }

  .footer-address-section {
    top: -75px;
  }

  .footer-address-section .icons {
    text-align: center !important;
    padding-right: 1rem !important;
  }

  .footer-address-section .content {
    text-align: center !important;
  }
}

// Responsive Mobile

@media screen and (max-width: 768px) {
  .footer-address-section {
    top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 5px 5px $grey;
  }

  .footer-tab {
    margin-top: 6% !important;
  }

  .footer-mid-section {
    padding-bottom: 0 !important;
  }

  .footer-input, .footer-btn {
    width: 55%;
  }

  .terms-responsive {
    text-align: center !important;
    padding-bottom: 1%;
  }

  .vertical-line {
    border-right: none !important;
  }

  .icons {
    text-align: center !important;
  }
}
