$white: #fff;
$grey: #e9e9e9;
$darkGrey: #7C7E93;
$main: #2e95a0;
$light: #00acb1;
$dark: #005963;
$purplish: #fcf7ff;
$fontSmall: 'Rubik', sans-serif;
$fontLarge: 'Heebo', sans-serif;

* {
  font-family: $fontSmall;
  // user-select: none;
  // -moz-user-select:none;
  // -webkit-user-select: none;
  // -webkit-touch-callout: none;
  // -ms-user-select: none;
}

body {
  background-color: $purplish !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// Buttons

.btn-primary {
  padding-right: 40px !important;
  padding-left: 40px !important;
  font-family: $fontSmall !important;
  font-weight: bold !important;
  color: $dark !important;
  background-color: $purplish !important;
  border: 1px solid $grey !important;
  margin-left: 15px !important;
}

.btn-primary:hover {
  color: $white !important;
  background-color: $light !important;
  border: 1px solid $light !important;
}

.btn-secondary {
  padding-right: 40px !important;
  padding-left: 40px !important;
  font-family: $fontSmall !important;
  font-weight: bold !important;
  color: $white !important;
  background-color: $light !important;
  margin-right: 15px !important;
  border: 1px solid $light !important;
}

.btn-secondary:hover {
  color: $dark !important;
  background-color: $purplish !important;
  border: 1px solid $grey !important;
}

// Input field

input {
  border: 1px solid $grey;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  color: $dark;
  background-color: $purplish;
}

input:focus {
  outline: none !important;
  border: 1px solid $grey !important;
  box-shadow: 0 0 3px $light;
}

::placeholder {
  color: $main;
  opacity: 5;
}

// Texts

.primary-text {
  color: $dark;
  font-family: $fontLarge;
  font-size: 40pt;
  font-weight: bold;
}

.secondary-text {
  font-family: $fontSmall !important;
  font-size: 12pt;
  font-weight: bold;
  color: $dark;
}

.basic-text {
  font-size:12pt;
  font-family: $fontLarge;
  color: $white;
  line-height: 2;
  font-weight: bold;
}

.main-text {
  font-size: 10pt;
  font-family: $fontSmall;
  color: $main;
  line-height: 2;
  font-weight: bold;
}