$white: #fff;
$grey: #e9e9e9;
$darkGrey: #7C7E93;
$main: #2e95a0;
$light: #00acb1;
$dark: #005963;
$purplish: #fcf7ff;
$fontSmall: 'Rubik', sans-serif;
$fontLarge: 'Heebo', sans-serif;

.contact {
    background-color: $white;
}

// Contact Info portion

.contact-info {
    padding: 10% 0 10% 0 !important;
}

.contact-info .block {
    margin: 0.15em;
    box-shadow: 0 0 15px $grey;
    border-radius: 5px;
    height: 115px;
}

.contact-info .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.contact-info .icon-holder {
    background-color: $main;
    border-radius: 5px;
}

.contact-info .heading {
    margin-bottom: 0.50em;
}

// Contact Form Portion

.contact-form {
    padding: 0 0 8% 0;
}

.contact-form .input-field {
    color: $dark;
}

.contact-form .textarea-icon {
    position: absolute;
    top: 5%;
    right: 1%;
    color: $main;
}

.contact-form .submit-btn {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 20% !important;
    margin: 0 auto !important;
}

// Map portion

.map {
    position: relative;
}

.map .pointer {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 3%;
}